# // const tournamentParticipantSchema = new mongoose.Schema(
# //   {
# //     tournamentId: {
# //       type: mongoose.Schema.Types.ObjectId,
# //       ref: "Tournament",
# //       required: true,
# //     },
# //     userId: {
# //       type: mongoose.Schema.Types.ObjectId,
# //       ref: "User",
# //       required: true,
# //     },

# //     registeredAt: { type: Date, default: Date.now },

# //     status: {
# //       type: String,
# //       enum: ["registered", "checked-in", "playing", "eliminated", "winner"],
# //       default: "registered",
# //     },

# //     teamName: { type: String, trim: true },
# //     position: { type: Number },

# //     metadata: { type: Map, of: String },
# //   },
# //   { timestamps: true }
# // );

# // // Prevent duplicate registrations
# // tournamentParticipantSchema.index(
# //   { tournamentId: 1, userId: 1 },
# //   { unique: true }
# // );

# // const TournamentParticipant = mongoose.model(
# //   "TournamentParticipant",
# //   tournamentParticipantSchema
# // );
# // module.exports = { TournamentParticipant };